* {
  margin: 0;
  padding: 0;
  border: 0;
  /* box-sizing: border-box; */ /*<--consider using this one too*/
}

/* comentário rápido Cmd + Shift + 7 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: San;
  src: url("fonts/monument-grotesk-regular.otf");
}

@font-face {
  font-family: Sa2;
  src: url("fonts/ABCMonumentGrotesk-Medium-Trial.otf");
}

@font-face {
  font-family: Sf;
  src: url("fonts/JMTF_PondreLight.otf");
}

::selection {
  background-color: blue;
  color: white;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #e6e6e5;
  max-width: 4000px;
  margin: 0 auto;
  font-family: San, sans-serif;
  cursor: none;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
  transition: transform 0.3s ease;
}

/* ______________________AREA 51 */

body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode a,
body.dark-mode h1,
body.dark-mode p,
body.dark-mode button {
  color: white;
}

#mode-toggle {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  cursor: none;
  color: black;
}

body.dark-mode #mode-toggle {
  color: white;
}
/* ______________________AREA 51 */

h5,
h6 {
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-bottom: 1.3em;
}

h6 {
  margin-top: 0.2em;
  margin-bottom: 1.3em;
}

p {
  font-size: 0.8rem;
  font-family: San, sans-serif;
  line-height: 1rem;
}

a {
  text-decoration: none;
  color: #000;
  cursor: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  padding: 0 1rem;
}

.position {
  left: 0;
  right: 0;
  position: fixed;
  bottom: 15px;
  margin-bottom: 0.8em;
  font-family: San, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2;
  z-index: 90;
}
/*  ------------ NAV ------------ */
.nav-container {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin-bottom: 0.8em;
  font-family: San, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2;
  z-index: 90;
}

.logo {
  font-family: San, sans-serif;
  color: #000;
  font-size: 1.3em;
  transition: 0.3s ease;
  grid-column: span 8;
}

h1 {
  font-size: 1rem;
  text-transform: initial;
}

h1:hover {
  color: blue;
}
.nav-container a {
  font-family: San, sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
  text-transform: uppercase;
}
.nav-container a:hover {
  color: blue;
  letter-spacing: 0.05rem;
}

/* #menu {
  grid-column: 9 / -1; 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-transform: uppercase;

}
} */

/* ---------- END NAV ------------ */

/* ---------- PROJECTS ---------- */

.projects {
  padding-top: 13em;
}

.title {
  font-size: 0.8em;
}

h3 {
  grid-column: 3 / span 2;
  margin-bottom: 2em;
}

/* -------------------- SLider */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
}

.slider img.active {
  position: relative;
  opacity: 1;
  z-index: 1;
}

.slider:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.slider-container {
  position: relative;
}

.slider-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-family: San, sans-serif;
  cursor: none;
  user-select: none;
  z-index: 2;
}

.slider-container .prev {
  left: 0px;
}

.slider-container .next {
  right: 0px;
}

.pr-image {
  grid-column: 3 / span 8;
}

/* -------------------------- SLider */

.pr-image img {
  display: block;
  margin: 0 auto;
  height: 100%;
  max-height: 500px;
  width: auto;
}

.pr-info {
  grid-column: 1 / span 2;
}

.pr-info-2 {
  grid-column: 11 / span 2;
}

.tag-line {
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: San, sans-serif;
}

.tag-line span {
  color: #c4c4c4;
}

/* ---------- END PROJECTS ---------- */

/* --------- FOOTER ---------------- */
.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  padding: 20rem 1rem 0 1rem;
}

.f-contacto {
  grid-column: span 2;
}

.marca {
  grid-column: last;
  width: 200px;
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }

  h1 {
    font-size: 0.9rem;
  }

  p,
  .tag-line,
  .title,
  .nav-container a,
  #mode-toggle {
    font-size: 0.7rem;
  }

  h5,
  h6 {
    margin-bottom: 0.7em;
  }

  h3 {
    grid-column: 1 / span 2;
    margin-bottom: 1.5em;
  }

  .position {
    font-size: 0.8rem;
  }
  .grid-container {
    column-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 0.7rem;
  }

  .logo {
    grid-column: span 1;
  }
  .pr-info,
  .pr-var,
  .f-white,
  .f-morada {
    display: none;
  }
  .pr-image,
  .pr-info-2 {
    grid-column: 1 / -1;
  }

  .pr-image img {
    max-height: 320px;
  }

  .pr-info-2 {
    margin-top: 1.3em;
  }

  .footer {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 13px;
    padding: 20rem 1rem 4rem 1rem;
  }

  .f-contacto {
    grid-column: span 4;
  }
}
